<div>
    <div class="mat-typography">
        <p class="mat-body-1">Converter</p>
    </div>

    <form [formGroup]="formConversionRequest" (ngSubmit)="onSubmit()" novalidate class="d-flex-center">
        <div>
            <mat-form-field hintLabel="Max 3 characters">
                <mat-label>From</mat-label>
                <input matInput #input maxlength="3" placeholder="From" formControlName="currencyFrom">
                <mat-hint align="end">{{input.value.length}}/3</mat-hint>
            </mat-form-field>

            <mat-form-field hintLabel="Max 3 characters">
                <mat-label>To</mat-label>
                <input matInput #input maxlength="3" placeholder="To" formControlName="currencyTo">
                <mat-hint align="end">{{input.value.length}}/3</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Amount</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0" formControlName="fromValue">
                <span matTextPrefix>$&nbsp;</span>
                <span matTextSuffix>.000</span>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Result</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0" formControlName="toValue" [readonly]>
                <span matTextPrefix>$&nbsp;</span>
            </mat-form-field>

            <div class="example-button-row">
                <button mat-raised-button color="primary" type="submit">Convert</button>
                <a mat-raised-button type="button">History</a>
<!--                href="/sign-up"-->
            </div>
        </div>
    </form>
</div>



